<p-toast></p-toast>
<div class="card">
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" formControlName="nome" [ngClass]="{ 'p-invalid': clienteForm.controls['nome'].invalid && clienteForm.controls['nome'].touched }" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" [ngClass]="{ 'p-invalid': clienteForm.controls['email'].invalid && clienteForm.controls['email'].touched }" />
    </div>
    <button type="submit" pButton label="Salvar" [disabled]="clienteForm.invalid" class="p-button-success"></button>
  </form>
</div>