p-table {
  width: 50%;
  margin-top: 20px;
}

p-table th {
  background-color: #f0f0f0;
  color: rgb(17, 16, 16);
}

p-table td {
  text-align: center;
}

.p-button-outlined {
  margin-right: 10px;
}

.p-button-outlined.p-button-success {
  color: #4caf50;
  border-color: #4caf50;
}

.p-button-outlined.p-button-danger {
  color: #f44336;
  border-color: #f44336;
}
